@using JoshMangoff_COMP2007_Assignment2.Models
@model FoodType

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing: @Model.Name</h2>
<ul>
    @foreach (Food food in Model.Foods)
    {
        <li>@Html.ActionLink(food.Title, "Details", new { id = food.FoodId })</li>
    }

</ul>



