@using JoshMangoff_COMP2007_Assignment2.Models
@model Food

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>
<img src="@Model.BigImgUrl" brand="Image-Large" />
<p>@Model.Price</p>
<p>@Model.Description</p>

