<!-- Views/Store/Details.cshtml -->
<!-- Josh Mangoff -->
<!-- Pizza Place -->
<!-- Displays the selected food's picture, name, and description -->
@using JoshMangoff_COMP2007_Assignment2.Models
@model Food

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>
<ul>
    <li><img src="@Model.ImgUrl" alt="Food Image" height="100" width="100" /></li>
    <li><p>@Model.Price</p></li>
    <li><p>@Model.Description</p></li>
</ul>

