<!-- Home/Contact.cshtml -->
<!-- Josh Mangoff -->
<!-- Pizza Place -->
<!-- Displays contact information -->
@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<address>
    280 Memorial Avenue<br />
    Toronto, ON, G4H 6J4<br />
    Phone #: 705-732-8365<br /><br />
    <!-- image from google maps -->
    <img src="~/Assets/images/map.png" />
</address>