<!-- Home/Index.cshtml -->
<!-- Josh Mangoff -->
<!-- Pizza Place -->
<!-- Displays title and main picture -->
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Welcome to Pizza Place's Menu!</h2>
        <!-- image from google images, also the favicon image -->
        <img src="~/Assets/images/pizzamain.jpg" />
    </div>
    <br />
    <div class="col-md-2 col-md-offset-5">
        @Html.ActionLink("Browse Menu", "Index", "Store")
    </div>
</div>